@charset "UTF-8";
.singletxt {
    line-height: 2;
    text-align: justify;
    font-size:clamp(1rem, 0.375rem + 0.6vw, 1.125rem);
}
.header-wrap__hero {
    background-image: url("../img/single2.svg");
    background-size: cover;
    background-position: 10% 10%;
    width: 100%;
    height:600px;
    position: relative;
}
.header-wrap__hero__title {
    position:absolute;
    top:30%;
    left:50%;
    background-color: #ffffff;
    padding: 1% 1.5%
}
.header-wrap__hero__title__img {
    width: 440px;
}
.header-wrap__hero__title__img img{
    width: 100%;
}
.header-wrap__nav__logo img{
  margin-top:-18px;
}
.header-wrap__nav__right {
  z-index:100;
      align-items:center;
        padding:15px 0 65px 0;
}
.header-wrap__nav__logo::after{
    content:"";
  position:absolute;
  inset:10px -150px -2px -150px;                  /* 親いっぱい */
  background-color:#FECC34;
  -webkit-clip-path: polygon(40% 0, 60% 0, 100% 100%, 0% 100%);
          clip-path: polygon(40% 0, 60% 0, 100% 100%, 0% 100%);
  z-index:0;
  border-radius: 0;      
  transform: translate(0, -85px);    /* 必要なら */
} 
/* 外側（枠） */
.header-wrap__nav__right__fmlogo::after{
  content:"";
  position:absolute;
  width:217px;
  height:217px;
  border-radius:50%;
  background:#AC8100;
  transform: translate(-45px, -155px);
  z-index:0;
}

/* 内側（中身） */
.header-wrap__nav__right__fmlogo::before{
  content:"";
  position:absolute;
  width:205px;     
  height:205px;
  left:-39px;
  top:27px;
  border-radius:50%;
  background:#FECC34;
  transform: translate(0, -100px);
  z-index:1;
}
.header-wrap__nav__right__fmlogo .fmlogo-deco::before{
  content:"";
  position:absolute;
  width: 400px;
  height: 50px;
  background-color:#FECC34;
  left:-220px;
  bottom:-63px;
}
.hero-wrap__title {
    position:absolute;
    top:12%;
    left:1%;
    color: #000000;
    padding: 1% 1.5%;
    display: inline-block;
        background-color: #FECC34;
}
.hero-wrap__title h3 {
    font-size: 32px;
    line-height: 1.8;
    font-weight: 100;

}
.hero-wrap__name {
    font-size: 42px;
    position: absolute;
    top: 12%;
    right: 18%;
      -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
              writing-mode: vertical-rl;
              font-weight:300;
              color:#000000;
              padding: 1% 1.5%;
        }
.hero-wrap__name h4 {
    font-weight: 300;
    
}
.hero-wrap__small  {
    position: absolute;
    bottom: 18%;
    right: 18%;
    color: #000000;
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
              writing-mode: vertical-rl;
              line-height: 1.8;
}
.hero-wrap__small p {
        font-size: 16px;
        font-weight: 300;
        
}
.article-wrap {
    margin: 60px auto 200px auto;
}
.article-wrap__block {
    display:flex;
    margin:0 0 140px 0;
}
.ttl {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}
.is-twoimg{
        flex: 0 0 40%;
}
.article-wrap__block__img img {
    width:100%;
}
.is-twoimg {
    flex: 0 0 40%;
}
.is-twotxt {
    flex: 1;
    padding:0 3.5%; 
    font-size:16px;
}
.article-wrap__block__txt__content {
    display: flex;
}
.article-wrap__block__txt__content p {
    flex: 1;
}
.article-wrap__block__txt__content p:first-child {
        margin-right: 4%;
}
.is-one {
    flex-direction: row-reverse;
}
.is-oneimg {
    flex: 0 0 50%;
}
.is-onetxt {
    flex: 1;
    padding:0 6%; 
    font-size:15px;
}
.article-wrap__img {
    margin: 40px 0 120px 0;
    width:100%;
}
.article-wrap__img  img{
    width:100%;
}
.is-txtonly {
    flex-direction: column;
    width:90%;
    max-width: 1100px;
    margin: 0 auto 120px auto;
}
.article-wrap__pro__body {
    display:flex;
    max-width:1000px;
    margin: 0 auto 140px auto;
    gap:0;
    background-image: url(../img/bg下層.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 1.5%;
}
.subttl {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    justify-content: center;
    color:#000000;
    font-size:60px;
    margin-bottom:25px;
    font-weight: 300;
}
.article-wrap__pro__right{
    display:flex;
    width:30%;
        align-items:center;
        justify-content: center;
        margin: 0 auto
}
.article-wrap__pro__img{
    display:block;
    margin:  0 auto;
width: 205px;
  height:205px;
  border-radius:50%;
  background-image: url(../img/single2.svg);
  background-size: cover;
  background-position: center;
  z-index: 10;
}
.article-wrap__pro__txt {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}
.article-wrap__pro__txt__name {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}
.article-wrap__pro__txt__name span {
    font-size: 14px;
    font-weight: 300;
}
.article-wrap__pro__txt__job {
    font-size:16px;
    font-weight: 300;
    margin-bottom:15px;
}
.article-wrap__pro__txt__con {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom:15px;
}
.article-wrap__pro__link {
    font-size:12px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    display: inline;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.article-wrap__pro__link::after {
  background-color: #ffffff; 
  bottom: -4px; 
  content: ""; 
  height: 1px; 
  left: 0; 
  position: absolute; 
  transform: scale(0, 1); 
  transform-origin: left top; 
  transition: transform .3s; 
  width:100%;
}
/* リンクにホバーした際の下線の表示 */
.article-wrap__pro__link:hover::after {
  transform: scale(1, 1);
}
.article-wrap__pro__link:hover {
  opacity: 0.8;
}
.article-wrap__more__body__list {
    display:flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto 140px auto;
}
.article-wrap__more__body__list__item {
    flex: 1;
    margin: 0 15px;
    list-style: none;
}
.article-wrap__more__body__list__item a {
    text-decoration: none;
}
.article-wrap__more__body__list__item img {
    width: 100%;
    height: auto;
}
.article-wrap__more__body__list__item__date {
    color:#000000;
    font-weight:500;
    text-decoration: none;
    margin: 10px 0;
}
.article-wrap__more__body__list__item__text {
    color:#000000;
    font-weight:500;
    text-decoration: none;
    margin: 10px 0;
    line-height: 1.8;
}