@charset "UTF-8";
.header-wrap {
    padding-top:2%;
}
.header-wrap__nav__logo img {
    width: 340px;
    height:auto;
}
.header-wrap__nav__right__fmlogo img {
    width:240px;
    height:auto;
}
.header-wrap__nav__right {
    padding:15px 0 65px 0;
    align-items: flex-start;
}
.subttl {
        padding: 90px 0 0 0;
    margin-bottom:90px;
    margin: 0 auto 60px auto;
            max-width: 1000px;
}
.subttl h2 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 1.8px;
}
.subttl strong {
    font-size: 96px;
    font-weight: 600;
}
@media screen and (max-width: 1280px) {
    .header-wrap__nav__logo img {
    width:clamp(17.5rem, -2.75rem + 30vw, 21.25rem);
    height: auto;
}
.subttl {
    width: 95%;
}
.subttl h2 {
    font-size: clamp(3rem, -2.4rem + 8vw, 4rem);
    letter-spacing: 1.8px;
}
.subttl strong {
    font-size: clamp(4rem, -1.4rem + 8vw, 5rem);
}
}
@media screen and (max-width: 1080px) {
        .header-wrap__nav__logo{
        width: 25%;
        height: auto;
    }
         .header-wrap__nav__logo img{
        width: 100%;
    }
    .header-wrap__nav__right__fmlogo{
    width: 65%;
    }
    .header-wrap__nav__right__fmlogo img {
    width: 100%;
    height: auto;
}
.header-wrap__nav__right__menu a {
    font-size: 14px;
}
.header-wrap__nav__right__menu {
        gap: 20px;
    }
}