@charset "UTF-8";
.header-wrap {
    padding-top:2%;
}
.header-wrap__nav__logo img {
    width: 100%;
    height:auto;
}
.header-wrap__nav__right__fmlogo img {
    width:240px;
    height:auto;
}
.header-wrap__nav__right {
    padding:15px 0 65px 0;
    align-items: flex-start;
}
.subttl {
    padding: 50px 0 0 0;
    margin: 0 auto 80px auto;
    max-width: 1100px;
}
.subttl h2 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 1.8px;
}
.subttl strong {
    font-size: 96px;
    font-weight: 600;
}
@media screen and (max-width: 1280px) {
    .header-wrap__nav__logo img {
    height: auto;
}
.subttl {
    width: 95%;
}
.subttl h2 {
    font-size: clamp(3rem, -2.4rem + 8vw, 4rem);
    letter-spacing: 1.8px;
}
.subttl strong {
    font-size: clamp(4rem, -1.4rem + 8vw, 5rem);
}
}
@media screen and (max-width: 1000px) {
    .header-wrap__nav__logo {
        width:20%;
}
.header-wrap__nav__right__fmlogo img {
    width: 200px;
}
.header-wrap__nav__right__menu a {
    font-size: 14px;
}
    .header-wrap__nav__right {
        gap: 30px;
    }
    .subttl {
    padding: 20px 0 0 0;
    margin: 0 auto 50px auto;
}
}
@media screen and (max-width: 760px) {
    .header-wrap__nav__right__fmlogo img {
        width: 130px;
    }
        .header-wrap__nav__right {
        width: 80%;
    }
        .subttl {
    padding: 0 0 0 0;
    margin: 0 auto 30px auto;
}
}
@media screen and (max-width: 540px) {
    .header-wrap__nav__logo img {
    width: clamp(5.625rem, 3.8393rem + 7.1429vw, 6.25rem);
}
.header-wrap__nav__right__menu a {
    font-size: 12px;
}
    .header-wrap__nav__right__fmlogo img {
        width: clamp(5.625rem, 3.8393rem + 7.1429vw, 6.25rem);
    }
    .header-wrap__nav {
        margin: 0 10px;
    }
    .header-wrap__nav__right__menu__item{
        font-size:12px;
    }
}
@media screen and (max-width: 340px) {
.header-wrap__nav__right__fmlogo img {
        width: 80px;
    } 
        .header-wrap__nav__logo img {
    width: 80px;
}
    .header-wrap__nav__right__menu {
        gap: 20px;
    }
}